_______________________________PATIENT PORTAL ___________________________________

.image_div {
  position: relative;
  height: 400px;
  width: 300px;
  background-size: 100% 100%;
}

.info_div {

  color: black;
  position: absolute;
  height: 70px;
  width: 250px;
  background: white;
  left: 50%;
  bottom: -50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 3px;
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);  
}

@keyframes mymove {
  from {
    bottom: -50px;
  }

  to {
    bottom: -15;
  }
}

.image_div:hover div {
  bottom: -15px;
  animation-timing-function: linear;
  animation: mymove 1s;
}


.patientportalcontents {
  margin-top: 50px;
  width: 100%;
  color: #fff;
  height: 100%;
  justify-content: center;
  display: flex;
  font-size: 13px;
  background: rgba(15, 18, 27, 0.8);

  animation: fadeIn 2s;
}

.patientportalimage {
  animation: slider 20s infinite linear;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-image: linear-gradient(0deg, transparent, rgba(10, 17, 32, 0.8)), url(https://img.freepik.com/premium-photo/closeup-red-heart-doctor-hand-with-stethoscope-white-background-medical-people-cardio-practitioner-concept-heart-donation-life-rescue-health-care-theme_10307-1544.jpg);

}
.image_div .info_div h3{
  font-family: "Montserrat", sans-serif;
}

/* ___________________________________-Doctor Details__________________________ */


.doctordetailscontents {
  margin-top: 50px;
  width: 100%;
  color: #fff;
  height: 100%;
  justify-content: center;
  display: flex;
  font-size: 13px;
  background: rgba(15, 18, 27, 0.8);

  animation: fadeIn 2s;
}

.docotordetailsimage {
  animation: slider 20s infinite linear;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-image: linear-gradient(0deg, transparent, rgba(10, 17, 32, 0.8)), url(https://img.freepik.com/premium-photo/closeup-red-heart-doctor-hand-with-stethoscope-white-background-medical-people-cardio-practitioner-concept-heart-donation-life-rescue-health-care-theme_10307-1544.jpg);

}

